<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientAPIID</key>
	<string>MzM5MDg2NjB8MTY4NTAwNzMzOC45NTI5MjI2</string>
	<key>ClientAPISecret</key>
	<string>81fd49e28c64a16887fedbedc2c9dc39157cd3b2ff3e4b813c2889fc10317cc0</string>
</dict>
</plist>
